## Entorno virtual
.venv/
*.venv/

## Caché de Python
__pycache__/
*.py[cod]
*$py.class

## Jupyter
.ipynb_checkpoints/

## Variables de entorno/credenciales
.env
*.env

## Modelos
models/

## Datos: ajustado para este reto
data/raw/*.csv
data/raw/*.xlsx
data/raw/*.xls
data/raw/*.pdf
data/processed/*.csv
data/processed/*.xlsx
!data/raw/.gitkeep
!data/processed/.gitkeep

## Reportes
!reports/figures/.gitkeep

## Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

## Editores
.vscode/
.idea/

## R
.Rhistory
.RData

## pytest
.pytest_cache/

## ruff
.ruff_cache/

## Quarto
/.quarto/
*_files/
*_cache/
*.quarto_ipynb*
